@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: local('Press Start 2P'),
    local('PressStart2P-Regular'),
    url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o69WAFmVxfVhVkWhl-QDeAk.woff2) format('woff2'),
    url(https://fonts.gstatic.com/s/pressstart2p/v4/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.AdyenGame {
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
}

.AdyenGame-stat {
    font-size: 2.5rem;
    font-family: "Press Start 2P", "proxima-nova", arial, sans-serif;
}

.AdyenGame-stat--green {
    fill: #00953a;
}

.AdyenGame-stat--red {
    fill: #ff5552;
}

.Layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    overflow: hidden;
}

.Layer-content {
    max-height: 100%;
    overflow-y: auto;
}

.AdyenGame-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    padding: 30px 15px;
}

.AdyenGame-notesOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 40px;
    overflow: hidden;
    transition: height 0.16s ease-out;
}

.AdyenGame-notesOverlay--visible {
    height: 190px;
}

.AdyenGame-notesOverlay--hidden {
    height: 0;
}

.AdyenGame-notesOverlayContent {
    padding: 45px;
    font-size: 2.0rem;
    overflow: hidden;
    color: white;
}

@media screen and (max-width: 650px) {
    .AdyenGame-notesOverlayContent {
        padding: 30px;
    }
}

.Notes-closeButton {
    float: right;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    width: 50px;
    display: block;
    height: 50px;
    opacity: 0.8;
}

.Notes-closeButton:hover {
    opacity: 1;
}

.Notes-description {
    font-family: "proxima-nova", arial, sans-serif;
}

.Notes-description h2,
.Notes-description p {
    margin: 0;
}

.Notes-description p {
    margin-top: 10px;
}

.AdyenGame-overlayLightbox {
    max-width: 600px;
    height: 100%;
    margin: auto;
    background: white;
    border-radius: 12px;
}

.AdyenGame-overlayContent {
    display: flex;
    font-size: 1.6rem;
    font-family: "proxima-nova", arial, sans-serif;
    padding: 15px 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    user-select: none;
}

.PerformanceOverlay {
    max-width: 420px;
    display: flex;
    /*margin: 30px auto 0;*/
}

.PerformanceOverlay-sider {
    display: inline-block;
    vertical-align: top;
    max-width: 80px;
}

.PerformanceOverlay-results {
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    font-family: "Press Start 2P", "proxima-nova", arial, sans-serif;
}

.PerformanceOverlay-results ul {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.PerformanceOverlay .Score-result {
    height: 35px;
    margin-left: -12px;
}

.PerformanceOverlay .Results-title {
    font-size: 1.5rem;
    color: #00953A;
    margin: 0;
    font-weight: normal;
    line-height: 2rem;
}

.PerformanceOverlay .Results-score {
    font-size: 5rem;
    line-height: 7rem;
    color: #00953A;
    margin: 0;
}

.PerformanceOverlay .Results-checkpoint {
    font-size: 2.3rem;
    line-height: 5rem;
    color: #000;
    margin: 0;
}

.PerformanceOverlay .Score-svgIcon {
    display: inline-block;
    width: 60px;
    height: 40px;
    transform: scale(0.6, 0.6);
}

.PerformanceOverley .Score-scoreIcon {
    width: 37px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
}

.PerformanceOverlay .Score-scoreText {
    display: inline-block;
    vertical-align: middle;
    margin-top: -28px;
}

.PerformanceOverlay-sider .Sider-puppet {
    width: 158px;
    transform: translate(-35px, -22px) scale(0.5);
    height: 193px;
}

.PerformanceOverlay-sider .Sider-guard {
    width: 122px;
    transform: translate(-19px,-16px) scale(.76);
    height: 193px;
}

@media screen and (max-width: 800px) {

    .PerformanceOverlay {
        max-width: 420px;
        margin: 15px auto 0;
    }

    .PerformanceOverlay-sider {
        display: none;
    }

    .PerformanceOverlay-results {
        margin: 0 auto;
        width: 100%;
    }

    .PerformanceOverlay .Results-title {
        display: block;
    }

    .PerformanceOverlay .Results-score {
        font-size: 3rem;
        line-height: 4rem;
        display: block;
    }

    .AdyenGame-overlayLightbox {
        max-width: 440px;
    }

    .AdyenGame-overlayContent {
        padding: 15px 30px 0;
    }

    .PerformanceOverlay-results ul {
        font-size: 0.9rem;
    }

    .PerformanceOverlay .Results-checkpoint {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 650px) {
    .AdyenGame-overlay {
        padding: 5px 5px 0;
    }

    .AdyenGame-overlayLightbox {
        max-width: 100%;
    }

    .PerformanceOverlay {
        margin: auto;
        max-width: 440px;
    }
}

.InformationOverlay-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 3rem;
}

.InformationOverlay-checkpoints {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Checkpoints-checkpoint {
    margin-bottom: 15px;
}

.Checkpoint-number {
    font-weight: bold;
}

.Checkpoint-description {
    margin: 5px 0;
}

.Overlay-closeButton {
    color: black;
    float: right;
    cursor: pointer;
}

.Overlay-closeButton:hover {
    color: gray;
    float: right;
}

.AdyenGame-overlayMessage {
    font-size: 3.5rem;
}

.TetrisGame-currentRound {
    font-size: 3.5rem;
}

.TetrisGame-playerInfo {
    text-anchor: left;
    font-size: 2.5rem;
}

.TetrisGame-playerInfo.TetrisGame-playerName {
    font-size: 2.1rem;
    text-anchor: start;
}

.TetrisGame-playerInfo.TetrisGame-playerPoints {
    font-size: 2.0rem;
}

.TetrisGame-playerInfo.TetrisGame-playerCombo-text,
.TetrisGame-playerInfo.TetrisGame-playerSkips-text {
    font-size: 1.7rem;
}

.TetrisGame-playerInfo.TetrisGame-playerCombo-combo,
.TetrisGame-playerInfo.TetrisGame-playerSkips-skips {
    font-size: 2.4rem;
}

.TetrisGame-playerInfo.TetrisGame-playerMove {
    font-size: 2rem;
}

.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerCombo,
.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerSkips {
    text-anchor: start;
}

.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerName,
.TetrisGame-playerView-left .TetrisGame-playerInfo.TetrisGame-playerCombo,
.TetrisGame-playerView-left .TetrisGame-playerInfo.TetrisGame-playerSkips {
    text-anchor: end;
}

.Tile-1 {
    fill: #cdced5;
}

.Tile-2, .Tile-3 {
    fill: #919191;
}

.Tile-3 {
    font-size: 48px;
    font-family: "Press Start 2P", "proxima-nova", arial, sans-serif;
    letter-spacing: 4px;
}

.TetrisGame-playerMove-illegal {
    fill: rgb(250, 167, 25);
}

.normal-1 {
    fill: #00953a;
}

.normal-2 {
    fill: #e8d5bc;
}

.theft-1 {
    fill: #ff5552;
}

.theft-2 {
    fill: #e8d5bc;
}

.fairlyJailed-1 {
    fill: #00953a;
}

.fairlyJailed-2 {
    fill: #e8d5bc;
}

.unfairlyJailed-1 {
    fill: #ff5552;
}

.unfairlyJailed-2 {
    fill: #e8d5bc;
}

.percentageBar-1 {
    fill: #b5b5b5;
}

.percentageBar-2 {
    fill: #00953a;
}

.cls-1 {
    fill: transparent;
}

.Buyer,
.Guard {
    cursor: pointer;
}

.buyerHitBox {
    fill: transparent;
}

.buyerHitBox--highlighted {
    fill: #4B3A0B;
    opacity: 0.5;
}

.Hair-gold,
.Buckle-gold {
    fill: #e2c137;
}

.Hair-blond {
    fill: #4d1b0a;
}

.cls-3 {
    fill: #4d1b0a;
}

.FillWhite {
    fill: #fff;
}

.FillGreen {
    fill: #00953a;
}

.cls-7 {
    fill: #ffd9c0;
}

.Pants-blue {
    fill: #0057e2;
}

.PurchaseItem-shadow {
    opacity: 0.3;
}

.PurchaseItem-platform {
    fill: #cdced5;
}

.PurchaseItemTv-gray {
    fill: #606060;
}

.PurchaseItemShirt-color {
    fill: #8836e8;
}

.PurchaseItemBoots-color {
    fill: #ff5552;
}

.cls-12 {
    fill: #00953a;
}

.TextBubble-background--red {
    fill: #ff5552;
}

.TextBubble-background--green {
    fill: #00953a;
}

.GuardTile-1 {
    fill: #cdced5;
}

.GuardTile-2, .GuardTile-3 {
    fill: #919191;
}

.GuardTile-3 {
    font-size: 20px;
    font-family: "Press Start 2P", "proxima-nova", arial, sans-serif;
    letter-spacing: 4px;
}

.Guard-1 {
    fill: transparent;
}

.Guard-2 {
    fill: #4d1b0a;
}

.Guard-3 {
    fill: #e2c137;
}

.Guard-4 {
    fill: #ffd9c0;
}

.Guard-5 {
    fill: #fff;
}

.Guard-textBubble {
    fill: #ff5552;
}

.Guard-textBubble-exclamation {
    font-size: 33px;
    font-family: arial, sans-serif;
    font-weight: bold;
    fill: #fff;
}

.Guard-info {
    font-size: 3.0rem;
    fill: black;

}

.PopUp-1 {
    fill: #006022;
}

.PopUp-text {
    font-size: 3.0rem;
    fill: white;
    font-family: "Press Start 2P", "proxima-nova", arial, sans-serif;
}

.Counter-1 {
    fill: #006022;
}

.Counter-2 {
    fill: #fff;
}

.Counter-3 {
    fill: #00953a;
}

.Counter-4 {
    fill: #5cc65c;
}

.Counter-5 {
    fill: #ffd9c0;
}

.Counter-6 {
    fill: #4d1b0a;
}

.ErrorLog-error {
    font-size: 4rem;
    fill: black;
    font-family: "proxima-nova", arial, sans-serif;
}

.ErrorBuyer {
    fill: #ff5552;
    stroke: #ff5552;
}

.LargePuppet-1 {
    fill: #ffd9c0;
}

.LargePuppet-2 {
    fill: #5cc65c;
}

.LargePuppet-3 {
    fill: #a2c6f2;
}

.LargePuppet-4 {
    fill: #e2c137;
}

.LargePuppet-5 {
    fill: #fff;
}

.Score-svgIcon .error-2,
.Score-svgIcon .normal-2,
.Score-svgIcon .theft-2,
.Score-svgIcon .fairlyJailed-2,
.Score-svgIcon .unfairlyJailed-2 {
    fill: #FFF;
}