html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Munro Small";
    src: url('../fonts/MunroSmall.ttf') format("truetype");
}

.AdyenGame-stat {
    font-size: 5rem;
    font-family: "Munro Small", arial;
}

.AdyenGame-stat--green {
    fill: #00953a;
}

.AdyenGame-stat--red {
    fill: #ff5552;
}
.AdyenGame-legendButton {
    fill: #B5B5B5;
    cursor: pointer;
}
.AdyenGame-legendButtonText {
    font-size: 4.5rem;
    fill: #3E3E3E;
    font-family: "Munro Small";
    cursor: pointer;
    user-select: none;
}
.AdyenGame-overlayBackground,
.AdyenGame-overlayMessage {
    width: 80%;
    height: 75%;
}
.AdyenGame-overlayBackground {
    stroke: none;
    opacity: 0.6;
    fill: black;
}
.AdyenGame-overlayTextDiv {
    padding: 50px 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 212%;
}
.AdyenGame-overlayMessage {
    color: white;
    font-size: 3.0rem;
    padding: 15px;
    font-family: "proxima-nova", arial;
}

.AdyenGame-overlayMessage {
    font-size: 3.5rem;
}

.TetrisGame-currentRound {
    font-size: 3.5rem;
}

.TetrisGame-playerInfo {
    text-anchor: left;
    font-size: 2.5rem;
}

.TetrisGame-playerInfo.TetrisGame-playerName {
    font-size: 2.1rem;
    text-anchor: start;
}

.TetrisGame-playerInfo.TetrisGame-playerPoints {
    font-size: 2.0rem;
}

.TetrisGame-playerInfo.TetrisGame-playerCombo-text,
.TetrisGame-playerInfo.TetrisGame-playerSkips-text {
    font-size: 1.7rem;
}

.TetrisGame-playerInfo.TetrisGame-playerCombo-combo,
.TetrisGame-playerInfo.TetrisGame-playerSkips-skips {
    font-size: 2.4rem;
}

.TetrisGame-playerInfo.TetrisGame-playerMove {
    font-size: 2rem;
}

.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerCombo,
.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerSkips {
    text-anchor: start;
}

.TetrisGame-playerView-right .TetrisGame-playerInfo.TetrisGame-playerName,
.TetrisGame-playerView-left .TetrisGame-playerInfo.TetrisGame-playerCombo,
.TetrisGame-playerView-left .TetrisGame-playerInfo.TetrisGame-playerSkips {
    text-anchor: end;
}

.Tile-1 {
    fill: #cdced5;
}

.Tile-2, .Tile-3 {
    fill: #919191;
}

.Tile-3 {
    font-size: 48px;
    font-family: "Munro Small", arial;
    letter-spacing: 4px;
}

.TetrisGame-playerMove-illegal {
    fill: rgb(250, 167, 25);
}

.normal-1 {
    fill: #00953a;
}

.normal-2 {
    fill: #e8d5bc;
}

.theft-1 {
    fill: #ff5552;
}

.theft-2 {
    fill: #e8d5bc;
}

.fairlyJailed-1 {
    fill: #00953a;
}

.fairlyJailed-2 {
    fill: #e8d5bc;
}

.unfairlyJailed-1 {
    fill: #ff5552;
}

.unfairlyJailed-2 {
    fill: #e8d5bc;
}

.percentageBar-1 {
    fill: #b5b5b5;
}

.percentageBar-2 {
    fill: #00953a;
}

.cls-1 {
    fill: transparent;
}

.cls-2 {
    fill: #e2c137;
}

.cls-2-2 {
    fill: #4d1b0a;
}

.cls-3 {
    fill: #4d1b0a;
}

.cls-4 {
    fill: #8836e8;
}

.cls-5 {
    fill: #fff;
}

.cls-6 {
    fill: #0057e2;
}

.cls-7 {
    fill: #ffd9c0;
}

.cls-8 {
    opacity: 0.3;
}

.cls-9 {
    fill: #cdced5;
}

.cls-10 {
    fill: #606060;
}

.cls-11 {
    fill: #ff5552;
}

.cls-12 {
    fill: #00953a;
}

.GuardTile-1 {
    fill: #cdced5;
}

.GuardTile-2, .GuardTile-3 {
    fill: #919191;
}

.GuardTile-3 {
    font-size: 48px;
    font-family: "Munro Small", arial;
    letter-spacing: 4px;
}

.Guard-1 {
    fill: transparent;
}

.Guard-2 {
    fill: #4d1b0a;
}

.Guard-3 {
    fill: #e2c137;
}

.Guard-4 {
    fill: #ffd9c0;
}

.Guard-5, .Guard-7 {
    fill: #fff;
}

.Guard-6 {
    fill: #ff5552;
}

.Guard-7 {
    font-size: 48px;
    font-family: "Munro Small", arial;
}

.Guard-info {
    font-size: 3.0rem;
    fill: black;

}

.PopUp-1 {
    fill: #006022;
}
.PopUp-text {
    font-size: 3.0rem;
    fill: white;
    font-family: "Munro Small", arial;
}

.Counter-1 {
    fill: #006022;
}

.Counter-2 {
    fill: #fff;
}

.Counter-3 {
    fill: #00953a;
}

.Counter-4 {
    fill: #5cc65c;
}

.Counter-5 {
    fill: #ffd9c0;
}

.Counter-6 {
    fill: #4d1b0a;
}